*{
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

.main_box{
    background-image: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}

.btn_one i{
    color: white;
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    left: 16px;
    transition: all 0.3s linear;
}

.sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 300px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    left: -300px;
    transition: all 0.3s linear;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.5);
    height: 60px;
}

.sidebar_menu .logo a{
    color: white;
    position: absolute;
    text-decoration: none;
    left: 50px;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_menu .btn_two i{
    color: grey;
    font-size: 25px;
    position: absolute;
    left: 275px;
    line-height: 60px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li{
    margin-top: 10px;
    padding: 10px 20px;
}

.sidebar_menu .menu li, a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.sidebar_menu .menu i{
    padding-right: 8px;
}

.sidebar_menu .social_media{
    left: 25%;
    position: absolute;
    bottom: 50px;
}

.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}

#check{
    display: none;
}

.btn_one i:hover{
    font-size: 40px;
}

.btn_two i:hover{
    font-size: 30px;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu{
    left: 0;
}

#check:checked ~ .btn_one i{
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}